.twitter {

  .tweets {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  .tweet {
    @extend %font-medium;
    padding-bottom: 20px;

    .info {
      display: block;

      .userimage {
        float: left;
        padding-right: 20px;
      }

      .username {
        font-size: 80%;
        color: $gery;
      }
    }

    .content {
      clear: left;
      display: block;
    }
  }

  .highlight {
    color: $highlight;
  }

}